In [ ]:
#VERSION 1.0 
# #DATE 15-12-2023 
# #FALLOU FALL EAE MASTER BIG DATA ANALYTICS 
#SOURCE:https://github.com/FallouFall/EaePython- 
# #Prof : M.Domingo Domenech, Enric

---
## 5. Exercisises

#### Ex 1.

Create a new module that will have 2 functions:
- **separate_odd_even(nums)**: The first one will receive a list of integer numbers and return two separate list, one with the odd numbers and the other one with the even ones.

    for example: separate_odd_even([1,2,3,4,5,6,7,8,9]) -> [1,3,5,7,9], [2,4,6,8]

- **search_max_char(text)**: The second function will be receive a text and output the most common letter character in that text and how many times it appears.

    for example: most_common_letter("Hello World") -> "l", 3

Then import that module in the following cell and call them with two basic examples.

Make sure to submit the module python file to the assignment submission!!

In [1]:
from Module import separate_odd_even, search_max_char

anyList = [1, 2, 3, 27, 4, 5, 6, 7, 8, 9]
listSeparate=separate_odd_even(anyList)
print(f"{anyList}--> {listSeparate}")

[1, 2, 3, 27, 4, 5, 6, 7, 8, 9]--> [[2, 4, 6, 8], [1, 3, 27, 5, 7, 9]]

In [2]:
text = "Hello World"
nmbChar = search_max_char(text)
print(f"Most common letter in {text} --> {nmbChar}")

Most common letter in Hello World --> [('l', 3)]

#### Ex 2.

Install the pandas library using pip, import it in the following cell and then run the following line to create a dataframe and prove that it works.

```python   
# <do something to install and import pandas>

df = pd.DataFrame({"col1": [1, 2], "col2": [3, 4]})

In [ ]:
# Your code here

In [4]:
import pandas as pd

df = pd.DataFrame({ "col1": [1, 2], "col2": [3, 4] })
df

   col1  col2
0     1     3
1     2     4

In [5]:
print("Working:Colomn 1 display")
columns1=df['col1']
columns1

Working:Colomn 1 display

0    1
1    2
Name: col1, dtype: int64

In [6]:
print("Working:Colomn 2 display")
columns1=df['col2']
columns1

Working:Colomn 2 display

0    3
1    4
Name: col2, dtype: int64

In [9]:
print("Working:Slicing Column 2  ILLOC Function")
df.iloc[1]

Working:Slicing Column 2  ILLOC Function

col1    2
col2    4
Name: 1, dtype: int64

In [12]:
print("Working:Slicing  first row  Function")
df.loc[0]

Working:Slicing  first row  Function

col1    1
col2    3
Name: 0, dtype: int64

In [11]:
print("Sum of two Column Value")
df["col1"]+df["col2"]

Sum of two Column Value

0    4
1    6
dtype: int64

In [22]:
print(" Operation of :Df +Df ")
print(df*2)

Df +Df
   col1  col2
0     2     6
1     4     8

In [15]:
print(" Average ")
print(df.mean)

 Average
<bound method DataFrame.mean of    col1  col2
0     1     3
1     2     4>

In [16]:
print(" Adding Column ")
df['col3']=[20,23]
df['col4']=[88,48]
df

 Adding Column

   col1  col2  col3  col4
0     1     3    20    88
1     2     4    23    48

In [17]:
print(" Slicing row  from 1 to 2<")
df[1:2]

 Slicing row  from 1 to 2<

   col1  col2  col3  col4
1     2     4    23    48

In [29]:
print("Sorting colum 4  ")
df.sort_values('col4', ascending=False)

Sorting

   col1  col2  col3  col4
0     1     3    20    88
1     2     4    23    48

In [9]:
print("deleting colum1   ")
df.drop('col1', axis=1, inplace=True)
df

deleting colum1

   col2  col3  col4
0     3    20    88
1     4    23    48

In [10]:
print("Condition query on df  ")
df.query('col4>50')

Condition query on df

   col2  col3  col4
0     3    20    88