#VERSION 1.0
#DATE 30-11-2023
#FALLOU FALL EAE MASTER BIG DATA ANALYTICS
#SOURCE:https://github.com/FallouFall/EaePython-
#Prof : M.Domingo Domenech, Enric

Ex. 1

Write a program that detects how many times the substring "2023" appears in a text story and then it replaces all the occurrences of "2023" with "2024".

In [1]:
# Your code here
story = """In the year 2023, humanity had made a significant leap in technology. It was in 2023 when we finally established the first human colony on Mars. The project, aptly named "Mars 2023", was a testament to human will and innovation.

The world watched in anticipation as the first crew members of Mars 2023 took their first steps on the red planet. It was a moment that echoed Neil Armstrong's historic moon landing, but this time in the year 2023, and on a whole new planet.

Back on Earth, in 2023, people celebrated this achievement. It was a beacon of hope in a world that had seen its share of challenges. The year 2023 marked a new era for humanity, one where the stars were no longer out of our reach.

By the end of 2023, we had not only reached Mars but created a sustainable living environment there. The year 2023 will forever be remembered as the year we truly became a space-faring civilization.
"""
# counting the number of appearances of the substring '2023'
oldOccurence='2023'
newOccurencence='2024'
print(f'The Substring {oldOccurence} appears {story.count(oldOccurence)} TIME in the Text Story\n')
# counting the number of appearances of the substring '2023'
story=story.replace(oldOccurence,newOccurencence)
print(f'---------------------------Replacing {oldOccurence} by {newOccurencence}  in the Text Story---------------------------\n')
print(story)

The Substring 2023 appears 9 TIME in the Text Story

---------------------------Replacing 2023 by 2024  in the Text Story---------------------------

In the year 2024, humanity had made a significant leap in technology. It was in 2024 when we finally established the first human colony on Mars. The project, aptly named "Mars 2024", was a testament to human will and innovation.

The world watched in anticipation as the first crew members of Mars 2024 took their first steps on the red planet. It was a moment that echoed Neil Armstrong's historic moon landing, but this time in the year 2024, and on a whole new planet.

Back on Earth, in 2024, people celebrated this achievement. It was a beacon of hope in a world that had seen its share of challenges. The year 2024 marked a new era for humanity, one where the stars were no longer out of our reach.

By the end of 2024, we had not only reached Mars but created a sustainable living environment there. The year 2024 will forever be remembered as the year we truly became a space-faring civilization.

#### Ex. 2

Write a program that given a list of lists of numbers, representing the salaries of the employees of a company in each team, prints the maximum value of each team. It has to use a loop to iterate through every team and find its maximum value to print it. 

Then calculate the total number of employees in the comany accross all the teams. (with code, not by hand, of course).

In [6]:
from babel.numbers import format_currency
salaries_per_team = [
    [14000, 8700, 12000, 43000], 
    [10000, 12000, 10000, 22000, 14500, 19700], 
    [9000, 15000, 10300], 
    [16200, 7500, 11000, 18100, 19500]
]
# Calculate the maximum salary of each team and print it
j=0
numberOfEmployees=0
for e in salaries_per_team:
    print(f" MAX SALARY OF Team {j+1} is: {format_currency(max(e), 'EUR', locale='es_ES')}")                                     
    j+=1
# Calculate the total number of employees in the company accross all teams and print it
    numberOfEmployees=numberOfEmployees+len(e) 
    #{:,}thousand separator or round 
print(f' Number of Employee Accross all teams is: {numberOfEmployees:,}' )

272500
 MAX SALARY OF Team 1 is: 43.000,00 €
 MAX SALARY OF Team 2 is: 22.000,00 €
 MAX SALARY OF Team 3 is: 15.000,00 €
 MAX SALARY OF Team 4 is: 19.500,00 €
 Number of Employee Accross all teams is: 18

#### Ex 3. 

Now create a function that given the previous list, it returns another list with the total sum of salaries of each team. It has to create a list for the total salaries of each team, and create a loop that iterates over all teams and sums the salaries of each employee.

In [5]:


def calculate_total_teams_salaries_list ( salaries_per_team ) :
    total_team_salaries = [ ]  #Sum of salarieEachTeam#       #usage of labda expression 
    total_team_salaries = [ sum ( this ) for this in salaries_per_team ]
    return total_team_salaries


teamSalary = calculate_total_teams_salaries_list ( salaries_per_team )
totalSalary = sum ( teamSalary )
j = 0
print ( "------------------------------------------------------Salary of each team---------------------------" )
for i in teamSalary :
    print ( f"Salary of each team {j + 1} is : {format_currency ( i , 'EUR' , locale = 'es_ES' )}" )
    j += 1
print ( "\n----------------------------------------------------Salary of each team  ----------------------" )
#Currency convertor from babel librery
print ( f"Salary Total Accross The teams is  :{format_currency ( totalSalary , 'EUR' , locale = 'es_ES' )}" )

------------------------------------------------------Salary of each team---------------------------
Salary of each team 1 is : 77.700,00 €
Salary of each team 2 is : 88.200,00 €
Salary of each team 3 is : 34.300,00 €
Salary of each team 4 is : 72.300,00 €

----------------------------------------------------Salary of each team  ----------------------
Salary Total Accross The teams is  :272.500,00 €

In [3]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert calculate_total_teams_salaries_list(salaries_per_team) == [77700, 88200, 34300, 72300]

print("Your function is correct!")

Your function is correct!

#### Ex 4.

Write a function called check_divisible that receives two numbers as arguments and returns True if the first number is divisible by the second number and False otherwise.

In [4]:
# Complete the function
def check_divisible(num1, num2):   
    if num2==0:
        return  False
    elif num1 % num2==0:    
        return True;
    else: return False       
    # Your code here
    
print( check_divisible(9, 3))
print (check_divisible(9, 3) ) 
print (check_divisible(10, 3) )
print (check_divisible(10, 2) )
print (check_divisible(10, 5) )
print( check_divisible(1870, 34))

True
True
False
True
True
True

In [87]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert check_divisible(9, 3) == True
assert check_divisible(10, 3) == False
assert check_divisible(10, 2) == True
assert check_divisible(10, 5) == True
assert check_divisible(1870, 34) == True

print("Your function is correct!")

Your function is correct!

#### Ex 5.

Create a new function called add_chars that given two strings, it returns the sum of the total number of characters of both strings.

In [48]:
# Your code here
def add_chars(a,b):
    return len(a)+len(b)
print(add_chars('a','b'))

2

In [ ]:
# Don't modify this. If your function works correctly, this cell won't return any error

assert add_chars("a", "b") == 2
assert add_chars("Hello", "World") == 10
assert add_chars("abc", "defghijkl") == 12

print("Your function is correct!")